
 body {
    background-image: url(backimg/ace22.png);
    background-position: center;
    margin: 0;
    padding: 0; 
    background-color: rgb(183, 236, 225);
    background-repeat: no-repeat;
} 

.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    
}

.grid-heading{
    font-weight: bold;
    color: white;
}

img{
    height: 205px;
    width: 275px;
    box-shadow: 3px 3px;
}
